*{
    margin: 0;
    padding: 0;
}
.contain{
background-color: #ffffff;
border: 1px solid #ececec;
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.17);
}
.container{
    width: 1140px;
    margin: 0 auto;  
}
.header{
    margin-top: 32px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    
}
.header-left{
    display:flex; 
    align-items: center;
    
}
.logo{
    margin-right: 13px;
}
.bran-D{
    font-family: sans-serif;
font-size: 27px;
line-height: 32px;
font-weight: 300;
text-transform: uppercase;
letter-spacing: 0.025em;
align-items: center;
margin-right: 37px;
align-items: center;
}
.text-D{
font-weight: 900;
color: #f16d7f;
}
.brand{
    text-decoration: none;
}
.brand-word{
    text-decoration: none;
    color: #222222;
}
.browse{
width: 87px;
height: 38px;
background-color: #cdcdcc;
background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
border: 1px solid #e6e6e6;
border-radius: 3px 0px 0px 3px;
font-size: 14px;
line-height: 32px;
font-weight: 300;
letter-spacing: 0.025em;
color: #222222;
}
.search{
width: 317px;
height: 38px;
background-color: #ffffff;
border: 1px solid #e6e6e6;
padding-left: 16px;
box-sizing: border-box;
}
.loupe{
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 0px 3px 3px 0px;
    border: 1px solid #e6e6e6;
}

.header-right{
    display: flex;
}
.cart-image{
    display: block;
    margin-right: 26px;
}
.account{
width: 130px;
height: 38px;
background-color: #f16d7f;
font-size: 15px;
line-height: 32px;
font-weight: 400;
letter-spacing: 0.025em;
color: #ffffff;
border: none;
}
.menu{
    display: flex;
    padding-left: 460px;
    padding-top: 19px;
    padding-bottom: 22px
}
.nav-link{
    font-family: sans-serif;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
line-height: 26px;
font-weight: 700;
text-transform: uppercase;
color: #222222;
}
.nav-link:hover{
    color: #f16d7f; 
}
.top-head{
    display: flex;
    align-items: center;
    height: 614px;
     background-image: url(images/backgroung_top.png);
     width: 100%;
}
.top-heading{
    display: flex;
    align-items: center;
}
.pink-line{
width: 12px;
height: 92px;
background-color: #f16d7f;
margin-right: 12px;
}
.heading-top{
    font-size: 40px;
    font-family: sans-serif;
    text-transform: uppercase;
}
.the-brand{
font-size: 60px;
line-height: 1.2;
font-weight: 900;
letter-spacing: 0.025em;
color: #222222;
}
.fashion{
    color: #f16d7f;
}
.photos{
    display: flex;
    justify-content: space-between;
    margin-top: 98px;
}
.photo-man{
    margin-bottom: 20px;
}
.photo-women{
    margin-bottom: 20px;
}
.photo-text_man{
    position: absolute;
    background-color: #ffffff;
    bottom: -90px; 
    font-family: sans-serif;
    font-size: 18px;
line-height: 1.2;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #222222;
padding: 16px 19px;
box-sizing: border-box;
}
.photo-text_acc{
    position: absolute;
    background-color: #ffffff;
    bottom: -655px; 
    font-family: sans-serif;
    font-size: 18px;
line-height: 1.2;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #222222;
padding: 16px 19px;
box-sizing: border-box;
}
.photo-text_kids{
    position: absolute;
    background-color: #ffffff;
    bottom: -375px;
    font-family: sans-serif;
    font-size: 18px;
line-height: 1.2;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #222222;
padding: 16px 19px;
box-sizing: border-box;
}
.photo-text_women{
   position: absolute;
    background-color: #ffffff;
    bottom: -90px;
    font-family: sans-serif;
    font-size: 18px;
line-height: 1.2;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #222222; 
padding: 16px 19px;
box-sizing: border-box;
}
.for-men{
    font-family: sans-serif;
    font-size: 30px;
    color: #f16d7f;
}
.middle-article{
    margin-top: 100px;
    margin-bottom: 59px;
}
.middle{
    text-align: center;
}
.middle-head{
    font-family: sans-serif;
    font-size: 30px;
line-height: 54px;
font-weight: 700;
letter-spacing: 0.025em;
color: #222222;
}
.middle-par{
    font-family: sans-serif;
    font-size: 14px;
line-height: 54px;
font-weight: 400;
letter-spacing: 0.025em;
color: #9f9f9f;
}
.cards-top{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
.cards-bottom{
    display: flex;
    justify-content: space-around;
}
.img-card{
    margin-bottom: 17px;
}
.card-heading{
    font-family: sans-serif;
    font-size: 13px;
line-height: 1.2;
font-weight: 400;
text-transform: uppercase;
color: #222222;
margin-bottom: 17px;
}
.price{
    font-family: sans-serif;
    font-size: 16px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #f16d7f;
}
.card-button{
    background-color: #f16d7f;
    font-family:sans-serif;
    font-size: 16px;
line-height: 54px;
font-weight: 700;
letter-spacing: 0.025em;
color: #ffffff;
width: 212px;
height: 48px;
border: none;
}
.button-un-cards{
    display: flex;
    justify-content: center;
    margin-top: 141px;
}
