*{
    margin: 0;
    padding: 0;
    outline: none;
}
.contain{
background-color: #ffffff;
border: 1px solid #ececec;
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.17);
}
.container{
    width: 1140px;
    margin: 0 auto;  
}
.header{
    margin-top: 32px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    
}
.header-left{
    display:flex; 
    align-items: center;
    
}
.logo{
    margin-right: 13px;
}
.bran-D{
    font-family: sans-serif;
font-size: 27px;
line-height: 32px;
font-weight: 300;
text-transform: uppercase;
letter-spacing: 0.025em;
align-items: center;
margin-right: 37px;
align-items: center;
}
.text-D{
font-weight: 900;
color: #f16d7f;
}
.brand{
    text-decoration: none;
}
.brand-word{
    text-decoration: none;
    color: #222222;
}
.browse{
width: 87px;
height: 38px;
background-color: #cdcdcc;
background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
border: 1px solid #e6e6e6;
border-radius: 3px 0px 0px 3px;
font-size: 14px;
line-height: 32px;
font-weight: 300;
letter-spacing: 0.025em;
color: #222222;
}
.search-line{
    display: flex;
}
.search{
width: 317px;
height: 38px;
background-color: #ffffff;
border: 1px solid #e6e6e6;
padding-left: 16px;
box-sizing: border-box;
}
.loupe{
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 0px 3px 3px 0px;
    border: 1px solid #e6e6e6;
}

.header-right{
    display: flex;
}
.cart-image{
    display: block;
    margin-right: 26px;
}
.account{
width: 130px;
height: 38px;
background-color: #f16d7f;
font-size: 15px;
line-height: 32px;
font-weight: 400;
letter-spacing: 0.025em;
color: #ffffff;
border: none;
}
.menu{
display: flex;
padding-top: 19px;
padding-bottom: 22px;
justify-content: center;
}
.nav-link{
font-family: sans-serif;
text-decoration: none;
font-size: 14px;
line-height: 26px;
font-weight: 700;
text-transform: uppercase;
color: #222222;
padding: 20px 25px;
}
.nav-link:hover{
    color: #f16d7f; 
}
.menu-li{
    list-style-type: none;
    position: relative;
}
.menu-li:hover .box-menu{
    display: flex;
}
.menu-home{
    list-style-type: none;
}
.box-menu{
border-radius: 5px;
background-color: #ffffff;
border: 1px solid #e8e8e8;
padding: 20px;
position: absolute;
top: 40px;
display: none;
}

.box-menu::before{
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    position: absolute;
    top: -7px;
    left: 36px;
    background-color:#ffff;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
.last:hover .box-menu{
    right: 0;
    left: auto;
}
.last:hover .box-menu::before{
    right: 55px;
    left: auto;
}
.box-item{
    margin-right: 46px;
}
.box-item:last-of-type{
    margin-right: 0;
}
.box-item__heading{
color: #232323;
font-family: sans-serif;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
width: 235px;
border-bottom:1px solid #e8e8e8;
padding-bottom: 8px;
}
.box-item__link{
    display: block;
    text-decoration: none;
    color: #646464;
font-family: sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 28px;
}
.box-item__link:hover{
    color: #f16d7f;
}
.picture__box-item{
    background-image: url(images/picture-menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 118px;
    width: 255px;
    margin-top: 22px;
    padding-left: 176px;
    padding-top: 61px;
}
.super{
color: #ffffff;
font-family: sans-serif;
font-size: 22px;
font-weight: 400;
line-height: 28px;
text-transform: uppercase;
}
.top-head{
   background-color: #e8e8e8;
}
.top-heading{
    background-image: url(images/backgroung_top.png);
   background-position: center;
    height: 613px;
}
.main-heading{
    display: flex;
    align-items: center;
    padding-top: 224px;
    left: 70px;
    width: 600px;
    height: 92px;
        
}
.pink-line{
width: 12px;
background-color: #f16d7f;
margin-right: 12px;
height: 100%;
}
.heading-top{
    font-size: 40px;
    font-family: sans-serif;
    text-transform: uppercase;
}
.the-brand{
font-size: 60px;
line-height: 1.2;
font-weight: 900;
letter-spacing: 0.025em;
color: #222222;
}
.fashion{
    color: #f16d7f;
}
.photos{
    display: flex;
    justify-content: space-between;
    margin-top: 98px;
}
.photo-man{
    margin-bottom: 20px;
    position: relative;
}
.photo-women{
    margin-bottom: 20px;
    position: relative;
}
.photo-kids{
    position: relative;
}
.photo-accsesorise{
    position: relative;
}
.photo-text_man{
    position: absolute;
    background-color: #ffffff;
    top: 50px; 
    font-family: sans-serif;
    font-size: 18px;
line-height: 1.2;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #222222;
padding: 16px 19px;
box-sizing: border-box;
}
.photo-text_acc{
    position: absolute;
    background-color: #ffffff;
    top: 50px; 
    font-family: sans-serif;
    font-size: 18px;
line-height: 1.2;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #222222;
padding: 16px 19px;
box-sizing: border-box;
}
.photo-text_kids{
    position: absolute;
    background-color: #ffffff;
    top: 50px;
    font-family: sans-serif;
    font-size: 18px;
line-height: 1.2;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #222222;
padding: 16px 19px;
box-sizing: border-box;
}
.photo-text_women{
   position: absolute;
    background-color: #ffffff;
    top: 50px;
    font-family: sans-serif;
    font-size: 18px;
line-height: 1.2;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #222222; 
padding: 16px 19px;
box-sizing: border-box;
}
.for-men{
    font-family: sans-serif;
    font-size: 30px;
    color: #f16d7f;
}
.middle-article{
    margin-top: 100px;
    margin-bottom: 59px;
}
.middle{
    text-align: center;
}
.middle-head{
    font-family: sans-serif;
    font-size: 30px;
line-height: 54px;
font-weight: 700;
letter-spacing: 0.025em;
color: #222222;
}
.middle-par{
    font-family: sans-serif;
    font-size: 14px;
line-height: 54px;
font-weight: 400;
letter-spacing: 0.025em;
color: #9f9f9f;
}
.cards-top{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
.cards-bottom{
    display: flex;
    justify-content: space-around;
}
.img-card{
    margin-bottom: 17px;
}
.card-heading{
    font-family: sans-serif;
    font-size: 13px;
line-height: 1.2;
font-weight: 400;
text-transform: uppercase;
color: #222222;
margin-bottom: 17px;
}
.price{
    font-family: sans-serif;
    font-size: 16px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #f16d7f;
}
.card-button{
    background-color: #f16d7f;
    font-family:sans-serif;
    font-size: 16px;
line-height: 54px;
font-weight: 700;
letter-spacing: 0.025em;
color: #ffffff;
width: 212px;
height: 48px;
border: none;
}
.button-un-cards{
    display: flex;
    justify-content: center;
    margin-top: 141px;
}
.banner{
    margin-top: 113px;
    margin-bottom: 97px;
}
.banner-all{
    display: flex;
}
.for-women{
font-size: 32px;
color: #ffffff;
font-weight: 700;
font-family: sans-serif;
text-align: left;
text-transform: uppercase;
}
.percent{
color: #ffffff;
font-family: sans-serif;
font-size: 54px;
font-weight: 700;
text-align: left;
text-transform: uppercase;
}
.offer{
    color: #f16d7f;
    font-family: sans-serif;
font-size: 54px;
font-weight: 700;
text-align: left;
text-transform: uppercase;
}
.photo-ban{
    background-image: url(images/photo-ban.png);
    background-position: center;
    background-size: cover;
    height: 529px;
    width: 767px;
}
.gradient{
background-image: url(images/gradient-ban.png);
height: 529px;
width: 767px;
padding-left: 39px;
padding-top: 146px;
box-sizing: border-box;
}
.ban-info{
    background-color: #222224;
    justify-content: center;
    padding: 66px 32px;
}
.ban-info__heading{
    color: #fbfbfb;
font-family: sans-serif;
font-size: 20px;
font-weight: 700;
margin-bottom: 17px;
}
.ban-info__article{
    color: #fbfbfb;
font-family: sans-serif;
font-size: 14px;
font-weight: 300;
}
.img-info{
    display: block;
    margin-right: 37px;
}
.ban-info__item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 61px;
}
.ban-info__item:last-of-type{
    margin-bottom: 0;
}
.footer-top{
    background-image: url(images/footer-back.png);
background-size: cover;
background-position:center;
height: 438px;
}
.footer-blur{
    background-image: url(images/footer-blur.png);
    background-position: center;
    background-size: cover;
    height: 438px;
}



